/* Nasty ID and Animation name used to help avoid conflicts */
/* Names taken from MD5 hash of desired name, eg slack-md5(slack) / flash-md5(flash) */

#slack-c25033a972715dbbdb7e73ac79261230 {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
   background: #fff;
  -webkit-animation: flash-a39401275d1b300aa789fb22aea4148a 200ms ease forwards;
          animation: flash-a39401275d1b300aa789fb22aea4148a 200ms ease forwards;
}

/* For older Chrome browsers */

@-webkit-keyframes flash-a39401275d1b300aa789fb22aea4148a {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes flash-a39401275d1b300aa789fb22aea4148a {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}