body {
  min-width:350px;
  padding:10px;
}

#context{
	width: 100%;
}

#progress{
	height:34px;
	margin-bottom: 0px;
}

#popup-form .form-group {
	margin-bottom: 10px !important;
}

#channel-col.col-xs-6{
	padding-right: 5px;
}

#button-col.col-xs-6{
	padding-left: 5px;
}